.accordion-button::after {
  margin-right: auto;
  margin-left: unset;
}

.accordion-button:not(.collapsed) {
  background: #dfe9ee;
}

.profile-card-cont
{
  background: #000;
  &:last-child{
    .profile-card {
      padding-bottom: 0 !important;
    }
  }
}
