<div class="container py-5">

  <div class="row justify-content-center">

    <div class="col-md-10">

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header mt-0" id="headingOne">
            <button class="accordion-button fw-bold fs-4" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              سجل العمليات
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <app-pofile-card *ngFor="let ele of usersData; let i=index" [user]="ele" class="profile-card-cont">
              </app-pofile-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
