/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@400;500;600;700&family=Cairo:wght@400;500;600;700&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
}

$main-color: #004d71;
$text-color: #90afbc;
$status-color: #61cf76;
$main-bg: #f6f6f6;

.text-main {
  color: $main-color;
}

.second-text {
  color: $text-color;
}

.status-text {
  color: $status-color;
}

.main-bg {
  background: $main-bg;
}


@media (max-width: 900px) {
  h5, h4{
    font-size: 1.1rem;
  }
}
